__pycache__/
geckodriver\.log
*.jpg
data_dir/
data_dir_sample/
output/
output_full/
data_dir_full/
*.pkl
*.jpeg
*.pth
data/Standorte.xlsx
data/Standorte_geocoded.xlsx
Standorte_labeled.xlsx
apikey.txt
.ipynb_checkpoints/
